@font-face {
  font-family: 'robotothin';
  src: url("fonts/Roboto-Thin-webfont.eot");
  src: url("fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Thin-webfont.woff") format("woff"), url("fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("fonts/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("fonts/Roboto-Bold-webfont.eot");
  src: url("fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Bold-webfont.woff") format("woff"), url("fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 24, style.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'robotothin', serif;
  background: #ffa274;
  overflow-x: hidden;
  color: #2f2f2f;
}
/* line 32, style.scss */
body.start {
  background: url(../img/start.jpg) center center no-repeat;
  background-size: auto 100%;
}
<<<<<<< HEAD

/* line 37, style.scss */
.bold {
  font-family: 'robotobold', serif;
}

/* line 40, style.scss */
a {
  text-decoration: none;
}

/* line 43, style.scss */
img {
  max-width: 100%;
}

/* line 46, style.scss */
=======
/* line 52, style.scss */
body.start .view {
  background: url(../img/start.jpg) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 59, style.scss */
.bold {
  font-family: 'robotobold', serif;
}

/* line 62, style.scss */
a {
  text-decoration: none;
}

/* line 65, style.scss */
img {
  max-width: 100%;
}

/* line 68, style.scss */
.loginfields {
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
}
/* line 74, style.scss */
.loginfields input[type=text], .loginfields input[type=password] {
  width: 100%;
  margin: 0 auto 10px auto;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 40px;
}
/* line 85, style.scss */
.loginfields .submit {
  background-color: #29b94b;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/* line 92, style.scss */
.input-group {
  position: relative;
}

/* line 95, style.scss */
.input-group-addon {
  background: #EEE;
  height: 36px;
  width: 30px;
  position: absolute;
  display: inline-block;
  text-align: center;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 108, style.scss */
.input-group-addon i {
  line-height: 36px;
}

/* line 112, style.scss */
#map img {
  max-width: none;
}

/* line 113, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startlogo {
  width: 90px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

<<<<<<< HEAD
/* line 52, style.scss */
=======
/* line 119, style.scss */
>>>>>>> parent of 98b8cc2... småpill
#logo {
  position: absolute;
  top: 0;
  right: 0;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: url(../img/logo.png) center center no-repeat;
  background-size: auto 100%;
  z-index: 90;
}

<<<<<<< HEAD
/* line 64, style.scss */
=======
/* line 131, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.logotext {
  width: 80%;
  margin: 10px auto 30px auto;
}

<<<<<<< HEAD
/* line 68, style.scss */
=======
/* line 135, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn {
  width: 240px;
  height: 50px;
  margin: 10px auto;
  display: block;
  color: #FFF;
}
<<<<<<< HEAD
/* line 74, style.scss */
=======
/* line 141, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn .icon {
  height: 50px;
  width: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  display: block;
  float: left;
}
<<<<<<< HEAD
/* line 83, style.scss */
=======
/* line 150, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn .btntext {
  line-height: 50px;
  width: 178px;
  height: 50px;
  padding-right: 10px;
  text-align: right;
  float: left;
}
<<<<<<< HEAD
/* line 91, style.scss */
=======
/* line 158, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn.fb {
  background-color: #2980b9;
  border-bottom: 1px solid #1f6daa;
}
<<<<<<< HEAD
/* line 94, style.scss */
=======
/* line 161, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn.fb .icon {
  background-image: url(../img/fb-icon.png);
  border-right: 1px solid #1f6daa;
}
<<<<<<< HEAD
/* line 98, style.scss */
.startbtn.fb .btntext {
  border-left: 1px solid #2980b9;
}
/* line 102, style.scss */
=======
/* line 165, style.scss */
.startbtn.fb .btntext {
  border-left: 1px solid #2980b9;
}
/* line 169, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn.twitter {
  background-color: #3498db;
  border-bottom: 1px solid #237fcf;
}
<<<<<<< HEAD
/* line 105, style.scss */
=======
/* line 172, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn.twitter .icon {
  background-image: url(../img/twitter-icon.png);
  border-right: 1px solid #237fcf;
}
<<<<<<< HEAD
/* line 109, style.scss */
.startbtn.twitter .btntext {
  border-left: 1px solid #51ace3;
}
/* line 113, style.scss */
=======
/* line 176, style.scss */
.startbtn.twitter .btntext {
  border-left: 1px solid #51ace3;
}
/* line 180, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn.google {
  background-color: #e74c3c;
  border-bottom: 1px solid #e34334;
}
<<<<<<< HEAD
/* line 116, style.scss */
=======
/* line 183, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn.google .icon {
  background-image: url(../img/gplus-icon.png);
  border-right: 1px solid #e34334;
}
<<<<<<< HEAD
/* line 120, style.scss */
.startbtn.google .btntext {
  border-left: 1px solid #ec6959;
}
/* line 124, style.scss */
=======
/* line 187, style.scss */
.startbtn.google .btntext {
  border-left: 1px solid #ec6959;
}
/* line 191, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn.register {
  background-color: #29b94b;
  border-bottom: 1px solid #21ad3e;
}
<<<<<<< HEAD
/* line 127, style.scss */
=======
/* line 194, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn.register .icon {
  background-image: url(../img/key.png);
  border-right: 1px solid #21ad3e;
}
<<<<<<< HEAD
/* line 131, style.scss */
=======
/* line 198, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.startbtn.register .btntext {
  border-left: 1px solid #43c766;
}

<<<<<<< HEAD
/* line 136, style.scss */
=======
/* line 203, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.ortxt {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  color: #FFF;
}

<<<<<<< HEAD
/* line 142, style.scss */
=======
/* line 209, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.menuwrap {
  perspective: 1500px;
  perspective-origin: 0% 50%;
  position: relative;
  left: 0;
  -webkit-transition: all 0.5s ease;
}

<<<<<<< HEAD
/* line 149, style.scss */
=======
/* line 216, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.pusher {
  transform-style: preserve-3d;
}

<<<<<<< HEAD
/* line 152, style.scss */
=======
/* line 219, style.scss */
>>>>>>> parent of 98b8cc2... småpill
#menu {
  position: fixed;
  width: 75px;
  background: #3e444d;
  top: 0;
  bottom: 0;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
}
<<<<<<< HEAD
/* line 164, style.scss */
=======
/* line 232, style.scss */
>>>>>>> parent of 98b8cc2... småpill
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
/* line 169, style.scss */
=======
/* line 237, style.scss */
>>>>>>> parent of 98b8cc2... småpill
#menu a {
  display: block;
  font-size: 12px;
  padding-top: 50px;
  margin-bottom: 10px;
  width: 100%;
  color: #FFF;
  text-align: center;
}

<<<<<<< HEAD
/* line 180, style.scss */
=======
/* line 248, style.scss */
>>>>>>> parent of 98b8cc2... småpill
#map {
  width: 100%;
  height: 30%;
}

<<<<<<< HEAD
/* line 184, style.scss */
#wrapper {
=======
/* line 252, style.scss */
#wrapper, #wrappertwo {
>>>>>>> parent of 98b8cc2... småpill
  -webkit-transition: all 0.5s ease;
  -webkit-transform: translate3d(0, 0, 0);
}

<<<<<<< HEAD
/* line 190, style.scss */
=======
/* line 261, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.menubtn {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 50;
  background: url(../img/menu-btn.png) center center no-repeat;
}

<<<<<<< HEAD
/* line 198, style.scss */
body.menuopen #wrapper {
  -webkit-transform: translate3d(75px, 0, 0);
}
/* line 201, style.scss */
body.menuopen #menu {
  -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
}
/* line 204, style.scss */
body.menuopen .menuwrap {
  -webkit-transform: translate3d(75px, 0, 0);
}
/* line 207, style.scss */
=======
/*New menu*/
/*	Content */
/*	Content */
/* line 272, style.scss */
div#menutwo {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../img/blur.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 278, style.scss */
div#menutwo ul {
  width: 600px;
  list-style: none;
  margin: 95px 0px 0px 75px;
}
/* line 283, style.scss */
div#menutwo li {
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 10px;
  -webkit-transition: all 400ms ease-in-out, opacity 1000ms ease;
  transition: all 400ms ease-in-out, opacity 1000ms ease;
  -webkit-transform: translate3d(-150px, 0px, 0px) scale(0.2);
  opacity: 0;
}
/* line 292, style.scss */
div#menutwo li a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  line-height: 30px;
  display: inline-block;
}
/* line 299, style.scss */
div#menutwo li i {
  font-size: 30px;
  display: inline-block;
  width: 30px;
  margin-right: 20px;
}
/* line 305, style.scss */
div#menutwo li .statsicon i {
  color: #2cc3a1;
}
/* line 309, style.scss */
div#menutwo li.visible {
  -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
  opacity: 1;
}

/* line 318, style.scss */
#wrappertwo {
  background: #ffa274;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-backface-visibility: hidden;
}
/* line 330, style.scss */
#wrappertwo.inactive {
  cursor: pointer;
  -webkit-transform: translate3d(65%, 0px, 0px) scale(0.7);
  transform: translate3d(160px, 0px, 0px) scale(0.5);
}

/*End menu*/
/* line 338, style.scss */
body.menuopen #wrapper {
  -webkit-transform: translate3d(75px, 0, 0);
}
/* line 341, style.scss */
body.menuopen #menu {
  -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
}
/* line 344, style.scss */
body.menuopen .menuwrap {
  -webkit-transform: translate3d(75px, 0, 0);
}
/* line 347, style.scss */
>>>>>>> parent of 98b8cc2... småpill
body.menuopen .pusher {
  transform: translate3d(75px, 0, 0);
}

<<<<<<< HEAD
/* line 211, style.scss */
=======
/* line 352, style.scss */
body.showmap .view.msgprofile {
  height: 20%;
}
/* line 354, style.scss */
body.showmap .view.msgprofile .chat {
  height: 0;
  padding: 0;
}
/* line 358, style.scss */
body.showmap .view.msgprofile .info {
  height: 100%;
}
/* line 362, style.scss */
body.showmap #map {
  height: 80%;
}

/* line 366, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.searchicon {
  background: url(../img/search-icon.png) center 10px no-repeat;
}

<<<<<<< HEAD
/* line 214, style.scss */
=======
/* line 369, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.profileicon {
  background: url(../img/profile-icon.png) center 10px no-repeat;
}

<<<<<<< HEAD
/* line 217, style.scss */
=======
/* line 372, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.travelicon {
  background: url(../img/travel-icon.png) center 10px no-repeat;
}

<<<<<<< HEAD
/* line 220, style.scss */
=======
/* line 375, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.statisticsicon {
  background: url(../img/statistic-icon.png) center 10px no-repeat;
}

<<<<<<< HEAD
/* line 223, style.scss */
.addicon {
  background: url(../img/add-icon.png) center 10px no-repeat;
}

/* line 226, style.scss */
=======
/* line 378, style.scss */
.addicon {
  background: url(../img/add-icon.png) left 10px no-repeat;
}

/* line 381, style.scss */
.chaticon {
  background: url(../img/chat-icon.png) left 10px no-repeat;
  position: relative;
}

/* line 386, style.scss */
.noimsgs {
  text-align: center;
  min-width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #d86044;
  color: #FFF;
  position: absolute;
}

/* line 395, style.scss */
#menutwo .noimsgs {
  left: -10px;
  font-size: 12px;
  line-height: 25px;
  min-width: 25px;
  height: 25px;
}

/* line 402, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.view {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  z-index: -1;
  position: absolute;
  -webkit-transform: translate3d(100%, 0, 0);
}
<<<<<<< HEAD
/* line 233, style.scss */
=======
/* line 412, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.view.show {
  visibility: visible;
  opacity: 1;
  position: static;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
<<<<<<< HEAD

/* line 241, style.scss */
=======
/* line 421, style.scss */
.view.show.profile, .view.show.statistics, .view.show.msgview, .view.show.add {
  position: absolute;
  top: 0;
  background: #ffa274;
  width: 100%;
  height: 100%;
}
/* line 428, style.scss */
.view.show.statistics {
  background: #2cc3a1;
}
/* line 431, style.scss */
.view.show.routelist, .view.show.findroutes {
  position: absolute;
  height: 70%;
  top: 30%;
  overflow: auto;
  width: 100%;
}
/* line 438, style.scss */
.view.show.msgprofile {
  height: 70%;
  top: 30%;
  overflow-y: visible;
}

/* line 445, style.scss */
.statistics {
  color: #FFF;
}

/* line 448, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.profileimg {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: 5px solid #FFF;
  border-radius: 35px;
}

<<<<<<< HEAD
/* line 248, style.scss */
=======
/* line 455, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.setposition {
  width: 30px;
  height: 30px;
  background: url(../img/position.png) center center no-repeat;
}

<<<<<<< HEAD
/* line 254, style.scss */
=======
/* line 460, style.scss */
.rating {
  height: 15px;
  width: 100%;
  display: inline-block;
  background: url(../img/rating.png) left center no-repeat;
}
/* line 465, style.scss */
.rating.onestar {
  background: url(../img/1-star.png) left center no-repeat;
}
/* line 468, style.scss */
.rating.twostar {
  background: url(../img/2-star.png) left center no-repeat;
}
/* line 471, style.scss */
.rating.threestar {
  background: url(../img/3-star.png) left center no-repeat;
}
/* line 474, style.scss */
.rating.fourstar {
  background: url(../img/4-star.png) left center no-repeat;
}
/* line 477, style.scss */
.rating.fivestar {
  background: url(../img/5-star.png) left center no-repeat;
}

/* line 482, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.msgprofile .info {
  height: 20%;
  position: relative;
}
<<<<<<< HEAD
/* line 258, style.scss */
=======
/* line 486, style.scss */
.msgprofile .smallinfo {
  width: 70%;
  left: 30%;
  top: 5px;
  position: absolute;
  color: #FFF;
}
/* line 492, style.scss */
.msgprofile .smallinfo i {
  color: #d86044;
  margin-right: 5px;
}
/* line 497, style.scss */
.msgprofile .tripprice {
  font-family: 'robotobold', serif;
  color: #FFF;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
}
/* line 505, style.scss */
.msgprofile .seats {
  margin-right: 20px;
}
/* line 508, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.msgprofile .profileimg {
  top: -35px;
  left: 20px;
  position: absolute;
}
<<<<<<< HEAD
/* line 263, style.scss */
=======
/* line 513, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.msgprofile #users {
  position: absolute;
  top: -30px;
  color: #FFF;
  left: 105px;
  font-family: 'robotobold',serif;
  font-size: 18px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
<<<<<<< HEAD
/* line 272, style.scss */
=======
/* line 522, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.msgprofile .chat {
  height: 40%;
  background: #e6e6e6;
  overflow: auto;
  position: relative;
  padding: 10px 10px 30px 10px;
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
<<<<<<< HEAD
/* line 279, style.scss */
=======
/* line 530, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.msgprofile .chat input[type=button] {
  background: #439ad5 url(../img/send-arrow.png) center center no-repeat;
  float: right;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  -webkit-apperance: none;
  border: 0;
  display: block;
}
<<<<<<< HEAD
/* line 289, style.scss */
=======
/* line 539, style.scss */
.msgprofile .chat input[type=button]:focus {
  outline: none;
}
/* line 543, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.msgprofile .chat .setposition {
  float: left;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 5px;
}
<<<<<<< HEAD
/* line 296, style.scss */
=======
/* line 549, style.scss */
.msgprofile .chat input[type=text] {
  width: 65%;
}
/* line 552, style.scss */
.msgprofile .chat .profileimg {
  position: static;
  float: left;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-width: 3px;
}
/* line 560, style.scss */
.msgprofile .chat .msgitem {
  margin-bottom: 10px;
  position: relative;
}
/* line 563, style.scss */
.msgprofile .chat .msgitem:after {
  content: "";
  display: block;
  clear: both;
  min-height: 1%;
}
/* line 570, style.scss */
.msgprofile .chat .rating {
  position: absolute;
  left: 50px;
  top: 0;
  width: 100px;
}
/* line 576, style.scss */
.msgprofile .chat .username {
  display: inline-block;
  margin-top: 20px;
  font-family: 'robotobold', serif;
}
/* line 581, style.scss */
.msgprofile .chat .bubble {
  position: relative;
  background: #fcea85;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  width: 65%;
  float: left;
  margin-left: 50px;
}
/* line 591, style.scss */
.msgprofile .chat .bubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #fcea85;
  border-bottom: 5px solid transparent;
}
/* line 603, style.scss */
.msgprofile .chat .msguser {
  width: 100%;
  height: 40px;
}
/* line 608, style.scss */
.msgprofile .chat .mine .bubble {
  float: right;
  margin-left: 0;
  margin-right: 50px;
  background: #FFF;
}
/* line 613, style.scss */
.msgprofile .chat .mine .bubble:before {
  right: auto;
  left: 100%;
  border-right: 0;
  border-left: 10px solid #FFF;
}
/* line 620, style.scss */
.msgprofile .chat .mine .rating {
  left: auto;
  right: 60px;
}
/* line 624, style.scss */
.msgprofile .chat .mine .profileimg {
  float: right;
}
/* line 627, style.scss */
.msgprofile .chat .mine .username {
  float: right;
  margin-right: 10px;
}
/* line 632, style.scss */
.msgprofile .chat.minimize {
  height: 0;
}
/* line 636, style.scss */
.msgprofile #conversation {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 30px;
  position: relative;
  height: 100%;
}
/* line 643, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.msgprofile .sendrow {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
}
<<<<<<< HEAD

/* line 303, style.scss */
=======
/* line 649, style.scss */
.msgprofile .button {
  position: absolute;
  bottom: 10px;
}
/* line 653, style.scss */
.msgprofile .accept {
  left: 10px;
}
/* line 656, style.scss */
.msgprofile .showmap {
  right: 10px;
}

/* line 661, style.scss */
.profile #userdata {
  text-align: center;
  color: #FFF;
  font-family: 'robotobold', serif;
  font-size: 18px;
}

/* line 669, style.scss */
#routelist, #findroutes, #msglist {
  background: #e6e6e6;
  list-style-type: none;
  padding: 20px;
}
/* line 674, style.scss */
#routelist li, #findroutes li, #msglist li {
  padding: 10px 60px 10px 20px;
  background: url(../img/trip-arrow.png) left 13px no-repeat;
  border-bottom: 1px solid #DDD;
  position: relative;
}
/* line 679, style.scss */
#routelist li:after, #findroutes li:after, #msglist li:after {
  content: "";
  display: block;
  clear: both;
  min-height: 1%;
}
/* line 685, style.scss */
#routelist li span, #findroutes li span, #msglist li span {
  font-family: 'robotobold', serif;
}
/* line 688, style.scss */
#routelist li .profileimg, #findroutes li .profileimg, #msglist li .profileimg {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-width: 3px;
}
/* line 695, style.scss */
#routelist li .rating, #findroutes li .rating, #msglist li .rating {
  position: absolute;
  left: 50px;
  top: 0;
  width: 100px;
}
/* line 701, style.scss */
#routelist li .username, #findroutes li .username, #msglist li .username {
  display: inline-block;
  margin-top: 20px;
  font-family: 'robotobold', serif;
}
/* line 706, style.scss */
#routelist li .userinfo, #findroutes li .userinfo, #msglist li .userinfo {
  position: relative;
  margin-top: 10px;
}
/* line 710, style.scss */
#routelist li .tripprice, #findroutes li .tripprice, #msglist li .tripprice {
  position: absolute;
  width: 60px;
  text-align: center;
  height: 60px;
  border-radius: 30px;
  border: 5px solid #FFF;
  color: #d86044;
  right: 0px;
  top: 10px;
  background: #FFF;
  padding-top: 14px;
  font-size: 16px;
}
/* line 724, style.scss */
#routelist li .noimsgs, #findroutes li .noimsgs, #msglist li .noimsgs {
  left: 0px;
  top: 20px;
  padding-top: 10px;
  opacity: 0.7;
  display: block;
  -webkit-animation: wobble 2s 1s infinite;
}

@-webkit-keyframes wobble {
  /* line 735, style.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 736, style.scss */
  25% {
    -webkit-transform: rotate(35deg);
  }

  /* line 737, style.scss */
  50% {
    -webkit-transform: rotate(-35deg);
  }

  /* line 738, style.scss */
  75% {
    -webkit-transform: rotate(0deg);
  }

  /* line 739, style.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

/* line 741, style.scss */
#msglist li {
  padding-left: 0px;
  background: transparent;
}

/* line 746, style.scss */
.findroutes h2 {
  margin-bottom: 0px;
  margin-top: 0;
}
/* line 750, style.scss */
.findroutes .inps {
  position: absolute;
  top: 0;
  height: 50%;
  left: 0;
}
/* line 756, style.scss */
.findroutes #findroutes {
  position: absolute;
  top: 50%;
  left: 0;
  height: 50%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 767, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.pad {
  padding: 10px 20px;
}

<<<<<<< HEAD
/* line 306, style.scss */
=======
/* line 770, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.padtop {
  padding-top: 70px;
}

<<<<<<< HEAD
/* line 310, style.scss */
input[type=text], input[type=date], input[type=time] {
=======
/* line 773, style.scss */
.inprow {
  padding: 5px 0;
}

/* line 776, style.scss */
input[type=text], input[type=date], input[type=time], input[type=number], input[type=password] {
>>>>>>> parent of 98b8cc2... småpill
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
  -webkit-apperance: none;
  border: 0;
}
<<<<<<< HEAD
/* line 316, style.scss */
input[type=text]:focus, input[type=date]:focus, input[type=time]:focus {
  outline: none;
}

/* line 320, style.scss */
=======
/* line 782, style.scss */
input[type=text]:focus, input[type=date]:focus, input[type=time]:focus, input[type=number]:focus, input[type=password]:focus {
  outline: none;
}
/* line 785, style.scss */
input[type=text].priceinp, input[type=date].priceinp, input[type=time].priceinp, input[type=number].priceinp, input[type=password].priceinp {
  background: white url(../img/kr.png) 90% center no-repeat;
}

/* line 789, style.scss */
>>>>>>> parent of 98b8cc2... småpill
label {
  font-family: 'robotobold', serif;
  display: block;
  font-size: 16px;
}

<<<<<<< HEAD
/* line 325, style.scss */
.submit {
=======
/* line 794, style.scss */
.submit, .button {
>>>>>>> parent of 98b8cc2... småpill
  background: #439ad5;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  color: #FFF;
}
<<<<<<< HEAD
/* line 331, style.scss */
.submit.disabled {
  opacity: 0.5;
}

/*Menubutton*/
/* line 337, style.scss */
=======
/* line 800, style.scss */
.submit.disabled, .button.disabled {
  opacity: 0.5;
}
/* line 803, style.scss */
.submit.accept, .button.accept {
  background: #e6e6e6 url(../img/check.png) 10px center no-repeat;
  padding-left: 40px;
  font-family: 'robotobold', serif;
  color: #2f2f2f;
}
/* line 809, style.scss */
.submit.showmap, .button.showmap {
  background: #e6e6e6 url(../img/pin-small.png) 10px center no-repeat;
  padding-left: 40px;
  font-family: 'robotobold', serif;
  color: #2f2f2f;
}

/*Menubutton*/
/* line 818, style.scss */
>>>>>>> parent of 98b8cc2... småpill
button#menubtn {
  display: inline-block;
  margin: 0 0.8em;
  border: none;
  background: none;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
}
<<<<<<< HEAD
/* line 346, style.scss */
button#menubtn:focus {
  outline: none;
}
/* line 349, style.scss */
=======
/* line 827, style.scss */
button#menubtn:focus {
  outline: none;
}
/* line 830, style.scss */
>>>>>>> parent of 98b8cc2... småpill
button#menubtn span {
  display: block;
}

<<<<<<< HEAD
/* line 413, style.scss */
=======
/* line 894, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines-button {
  padding: 1.5rem 0.75rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.42857rem;
  /* */
}
<<<<<<< HEAD
/* line 420, style.scss */
.lines-button:hover {
  opacity: 1;
}
/* line 423, style.scss */
=======
/* line 901, style.scss */
.lines-button:hover {
  opacity: 1;
}
/* line 904, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines-button:active {
  transition: 0;
}

<<<<<<< HEAD
/* line 437, style.scss */
=======
/* line 918, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines {
  display: inline-block;
  width: 3rem;
  height: 0.42857rem;
  background: #3e444d;
  border-radius: 0.21429rem;
  transition: 0.3s;
  position: relative;
}
<<<<<<< HEAD
/* line 441, style.scss */
=======
/* line 922, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines:before, .lines:after {
  display: inline-block;
  width: 3rem;
  height: 0.42857rem;
  background: #3e444d;
  border-radius: 0.21429rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.21429rem center;
  transform-origin: 0.21429rem center;
}
<<<<<<< HEAD
/* line 449, style.scss */
.lines:before {
  top: 0.75rem;
}
/* line 452, style.scss */
=======
/* line 930, style.scss */
.lines:before {
  top: 0.75rem;
}
/* line 933, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines:after {
  top: -0.75rem;
}

<<<<<<< HEAD
/* line 460, style.scss */
.lines-button:hover .lines:before {
  top: 0.85714rem;
}
/* line 463, style.scss */
=======
/* line 941, style.scss */
.lines-button:hover .lines:before {
  top: 0.85714rem;
}
/* line 944, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines-button:hover .lines:after {
  top: -0.85714rem;
}

<<<<<<< HEAD
/* line 468, style.scss */
=======
/* line 949, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

<<<<<<< HEAD
/* line 474, style.scss */
.lines-button.x.close .lines {
  background: transparent;
}
/* line 476, style.scss */
=======
/* line 955, style.scss */
.lines-button.x.close .lines {
  background: transparent;
}
/* line 957, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 3rem;
}
<<<<<<< HEAD
/* line 482, style.scss */
=======
/* line 963, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
<<<<<<< HEAD
/* line 486, style.scss */
=======
/* line 967, style.scss */
>>>>>>> parent of 98b8cc2... småpill
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
