@font-face {
  font-family: 'robotothin';
  src: url("fonts/Roboto-Thin-webfont.eot");
  src: url("fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Thin-webfont.woff") format("woff"), url("fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("fonts/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("fonts/Roboto-Bold-webfont.eot");
  src: url("fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Bold-webfont.woff") format("woff"), url("fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 24, style.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'robotothin', serif;
  background: #ffa274;
}
/* line 30, style.scss */
body.start {
  background: url(../img/start.jpg) center center no-repeat;
  background-size: auto 100%;
}

/* line 35, style.scss */
.bold {
  font-family: 'robotobold', serif;
}

/* line 38, style.scss */
a {
  text-decoration: none;
}

/* line 41, style.scss */
img {
  max-width: 100%;
}

/* line 44, style.scss */
.startlogo {
  width: 90px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

/* line 50, style.scss */
.logotext {
  width: 80%;
  margin: 10px auto 30px auto;
}

/* line 54, style.scss */
.startbtn {
  width: 240px;
  height: 50px;
  margin: 10px auto;
  display: block;
  color: #FFF;
}
/* line 60, style.scss */
.startbtn .icon {
  height: 50px;
  width: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  display: block;
  float: left;
}
/* line 69, style.scss */
.startbtn .btntext {
  line-height: 50px;
  width: 178px;
  height: 50px;
  padding-right: 10px;
  text-align: right;
  float: left;
}
/* line 77, style.scss */
.startbtn.fb {
  background-color: #2980b9;
  border-bottom: 1px solid #1f6daa;
}
/* line 80, style.scss */
.startbtn.fb .icon {
  background-image: url(../img/fb-icon.png);
  border-right: 1px solid #1f6daa;
}
/* line 84, style.scss */
.startbtn.fb .btntext {
  border-left: 1px solid #2980b9;
}
/* line 88, style.scss */
.startbtn.twitter {
  background-color: #3498db;
  border-bottom: 1px solid #237fcf;
}
/* line 91, style.scss */
.startbtn.twitter .icon {
  background-image: url(../img/twitter-icon.png);
  border-right: 1px solid #237fcf;
}
/* line 95, style.scss */
.startbtn.twitter .btntext {
  border-left: 1px solid #51ace3;
}
/* line 99, style.scss */
.startbtn.google {
  background-color: #e74c3c;
  border-bottom: 1px solid #e34334;
}
/* line 102, style.scss */
.startbtn.google .icon {
  background-image: url(../img/gplus-icon.png);
  border-right: 1px solid #e34334;
}
/* line 106, style.scss */
.startbtn.google .btntext {
  border-left: 1px solid #ec6959;
}
/* line 110, style.scss */
.startbtn.register {
  background-color: #29b94b;
  border-bottom: 1px solid #21ad3e;
}
/* line 113, style.scss */
.startbtn.register .icon {
  background-image: url(../img/key.png);
  border-right: 1px solid #21ad3e;
}
/* line 117, style.scss */
.startbtn.register .btntext {
  border-left: 1px solid #43c766;
}

/* line 122, style.scss */
.ortxt {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  color: #FFF;
}

/* line 128, style.scss */
#menu {
  position: fixed;
  width: 75px;
  background: #3e444d;
  top: 0;
  bottom: 0;
  height: 100%;
  perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective-origin: 100% 50%;
  -webkit-perspective-origin: 100% 50%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
/* line 146, style.scss */
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 151, style.scss */
#menu a {
  display: block;
  font-size: 12px;
  padding-top: 50px;
  margin-bottom: 10px;
  width: 100%;
  color: #FFF;
  text-align: center;
}

/* line 162, style.scss */
#map {
  width: 100%;
  height: 150px;
}

/* line 166, style.scss */
#wrapper {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 172, style.scss */
.menubtn {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 50;
  background: url(../img/menu-btn.png) center center no-repeat;
}

/* line 180, style.scss */
body.menuopen #wrapper {
  -webkit-transform: translate3d(75px, 0, 0);
}
/* line 183, style.scss */
body.menuopen #menu {
  -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
}

/* line 187, style.scss */
.searchicon {
  background: url(../img/search-icon.png) center 10px no-repeat;
}

/* line 190, style.scss */
.profileicon {
  background: url(../img/profile-icon.png) center 10px no-repeat;
}

/* line 193, style.scss */
.travelicon {
  background: url(../img/travel-icon.png) center 10px no-repeat;
}

/* line 196, style.scss */
.statisticsicon {
  background: url(../img/statistic-icon.png) center 10px no-repeat;
}
